.navbar {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  margin-top: 1.5rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
}

.cart-icon {
  font-size: 3rem;
  color: red;
}
.cart-count {
  position: relative;
  left: -55%;
  top: -1rem;
}
.logo {
  width: 15rem;
}
select {
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 1.25rem;
  gap: 0;
}
.search-bar{
  font-size: 4rem;
}
.pro{
  background-color: rgb(249, 252, 252);
  font-size: 1.2rem;
}

.logout{
  background-color: rgb(249, 252, 252);
  font-size: 1.2rem;
}

.nav-content {
  display: flex;
  gap: 5rem;
  position: relative;
  left: -2rem;
}

@media screen and (max-width: 930px) {
  .navbar {
    font-size: 1rem;
  }

  .logo {
    width: 95px;
  }
  .profile  {
    font-size: 2rem;
    color: aqua;
  }
  .nav-content {
    position: relative;
    left: -2rem;
    gap: 2rem;
  }
  .search-bar {
    padding: 1rem 1rem;
    position: relative;
    left: -5%;
  }
}
@media screen and (max-width: 980px) {
  .search-bar {
    width: 9rem;
    padding: 0.5rem 2rem;
    position: relative;
    left: -2.25rem;
    margin-right: 0.5rem;
  }
  .nav-content {
    position: relative;
    left: -4rem;
    gap: 1rem;
  }
}

@media screen and (max-width: 580px) {
  .navbar {
    width: 100vw;
  }
  .search-bar {
    width: 8rem;
    padding: 0.5rem 2rem;
    position: relative;
    left: -1.75rem;
  }
  .logo {
    width: 75px;
  }
  .profile p {
    font-size: 1rem;
  }
  .nav-content {
    position: relative;
    display: flex;

    align-items: center;
  }
  select {
    position: relative;
    left: -5rem;
    font-size: 1rem;
  }

  .add-cart {
    margin-right: 1rem;
  }
  select {
    position: relative;
    left: -10px;
  }
  .font {
    font-size: 1rem;
    margin: 5px;
  }
}
